<div class="row">
  <div *ngIf="event$ | async as event" class="col-6 offset-3">
    <form #eventForm="ngForm" (ngSubmit)="onUpdate(eventForm.value)" class="mt-4">

    <!----input [(ngModel)]="event.id" name="id" type="hidden"> --->

    <div class="form-group">
      <label for="eventName"> Name </label>
      <input [(ngModel)]="event.name"
        class="form-control"
        name="name"
        id="eventName"
        type="text"
        required
        pattern=".{8,}">
      <div class="error-message"
        [hidden]="eventForm.controls['name']?.valid">
        The event's name should be at least 8 characters long.
      </div>
    </div>

    <div class="form-group">
      <label for="eventDate"> Date </label>
      <input [(ngModel)]="event.date"
        class="form-control"
        name="date"
        id="eventDate"
        type="text"
        required>
      <div class="error-message"
        [hidden]="eventForm.controls['date']?.valid">
        You have to set the date.
      </div>
    </div>

    <div class="form-group">
      <label for="eventTime"> Time </label>
      <input [(ngModel)]="event.time"
        class="form-control"
        name="time"
        id="eventTime"
        type="text"
        required>
      <div class="error-message"
        [hidden]="eventForm.controls['time']?.valid">
        You have to set the time.
      </div>
    </div>

    <div class="form-group">
      <label for="eventAddress"> Location </label>
      <input [(ngModel)]="event.location"
        class="form-control"
        name="location"
        id="eventAddress"
        type="text"
        required>
      <div class="error-message mt-1"
        [hidden]="eventForm.controls['location']?.valid">
        You have to set the location.
      </div>
    </div>

    <button
      [disabled]="eventForm.invalid"
      type="submit"
      class="btn btn-primary btn-block p-2">
        <i class="fa fa-save"></i>
    </button>


    </form>
  </div>
</div>
